<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<h1>RC pro advices</h1>
  <form action="/create-simulation" method="post">
      <h3>Your infos</h3>
      <label>
      Email
      <input type="email" name="lead[email]"/>
    </label><br>
    <label>
      Lastname
      <input type="text" name="lead[lastname]"/>
    </label><br>
      <label>
          Firstname
          <input type="text" name="lead[firstname]"/>
      </label><br>
      <label>
          Phone
          <input type="text" name="lead[phoneNumber]"/>
      </label><br>
      <label>
          Address
          <input type="text" name="lead[address]"/>
      </label><br>
      <h3>Your company</h3>
      <label>
          Annual revenues
          <input type="text" name="quote[annualRevenue]"/>
      </label><br>
      <label>
          Enterprise number
          <input type="number" min="0" name="quote[enterpriseNumber]"/>
      </label><br>
      <label>
          Legal name
          <input type="text" name="quote[legalName]"/>
      </label><br>
      <label>
          Natural Person
          <input type="checkbox" name="quote[naturalPerson]"/>
      </label><br><br>
      <button type="submit">Ok</button>
  </form>
</body>
</html>